@import 'tailwindcss';
@import '../theme.css';

#result-table {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.0rem;
    column-gap: 1.2rem;
    max-width: 100%;
    align-content: start;

    @media (width >= 64rem) {
        grid-template-columns: repeat(2, auto);
    }

    * {
        min-width: 0;
    }
    

    tr, tbody {
        display: contents;
    }

    td {
        --color-bg: #ffffff20;
        display: block;
        border: solid 1px var(--color-bg);
        background-color: var(--color-bg);
        padding: calc(var(--spacing) * 1) calc(var(--spacing) * 3);
        overflow-wrap: break-word;
        border-radius: 2px;
        
        &:first-child {
            text-wrap: nowrap;
            border-radius: 100px;
            align-self: start;
            justify-self: center;
            text-align: center;

            @media (width >= 64rem) {
                justify-self: end;
            }
        }
    }
    
}

#result-root {
    opacity: 0;
    
    &[data-visible="true"] {
        opacity: 1;
        animation: var(--animate-fadein), var(--animate-slidein);
    }
    
}


