@import 'tailwindcss';
@import './theme.css';

@layer base {
    a {
        color: var(--color-cyan-400);
        transition: color 100ms var(--default-transition-timing-function);
    }

    @media (hover: hover) and (pointer: fine) {
        a:hover {
            color: var(--color-cyan-700);
        }
    }

    code {
        padding-inline: calc(var(--spacing) * 1);
        border-radius: 2px;
        border: solid 1px #ffffff20;
        background-color: black;
    }
}






