@import 'tailwindcss';
@import './theme.css';

@layer base {
    a {
        color: var(--color-cyan-400);
        transition: color 100ms var(--default-transition-timing-function);
        
        @media (hover: hover) and (pointer: fine) {
            a:hover {
                color: var(--color-cyan-700);
            }
        }
    }

    code {
        background-color: var(--color-slate-200);
        padding-inline: 3px;
        border-radius: 2px;
        color: var(--color-black);
    }
}






