@import 'tailwindcss';
@import './theme.css';

a {
    color: var(--color-cyan-400);
    transition: color 100ms var(--default-transition-timing-function);
}

code {
    background-color: var(--color-slate-200);
    padding-inline: 3px;
    border-radius: 2px;
    color: var(--color-black)
}

@media (hover: hover) and (pointer: fine) {
    a:hover {
        color: var(--color-cyan-700);
    }
}
