@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', 'Arial', 'Helvetica Neue', sans-serif;
    --font-serif: 'Charis SIL', 'Times New Roman', serif;
    --color-mnlila: oklch(29.21% .1595 296);
    --color-mnlila2: oklch(11.18% .0609 296);
    --color-trlc-white: #ffffff40;
    --color-mitternachtlila: oklch(29.17% 0.1174 296);
    --ease-rapid: cubic-bezier(0.0, 0.7, 0.3, 1.0);
    --animate-slidein: slidein .6s var(--ease-rapid);
    --animate-fadein: fadein .5s var(--default-transition-timing-function);
    --gutter: 1.25rem;
    --n-gutter: calc(var(--gutter) * -1);

    @keyframes slidein {
        from {
            transform: translateY(40px);
        }
        to {
            transform: translateY(0px);
        }
    }
    
    @keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

